@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Poppins:ital,wght@1,200&family=Teko:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    
        
}
.body {
    width: 100vw;

}

.navbar {
   width: 100vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title {font-family: 'Oswald', sans-serif;}

section {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: 8.78vh;
    font-family: 'Poppins', sans-serif;
    
}


.top-content {
    width: 100vw;
    height: 100%;

    background-color: rgba(195, 78, 78, 0.843);
    margin-bottom: 5vh;
    display: grid;
    align-items: space-evenly;
    grid-template-columns: auto auto;
    gap: 20vw;
    overflow: hidden;
}

.contact-info {
    flex-direction: column;
}

.contact-info a:hover h5 {
    color: #000;
}

.contact-info a > h5 {
   font-weight: 600;
    color: #fff;
font-family: 'Poppins', sans-serif;
margin: 4vh 0;
}


.contact-info a > h5 > span{
    font-weight: 300;
    cursor: pointer;
}

#myName {
    width: 50%;
    flex-direction: column;
    margin-left: 10vw;
    font-family: 'Oswald', sans-serif;
    
}

#myName > span {
   flex-direction: column;
}

#myName>img {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin: 0 0 1.8vh 5vw;
}


.social-media a > i {
    font-size: 28px;
    margin: 5vh 2vw 0 2vw;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
}

.social-media a > i:hover{
    color: #000;
}

.navbar-nav {
    margin-left: 25vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#download-resume {
    margin-left: 35vw;
}




.clearfix {
    margin: 0px 90px 10px 0px;
}


.title {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1vh;
    font-family: 'Oswald', sans-serif;
}






.resume-details {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: row;
}


 ul > li > h4 > span > a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

 ul > li > h4 > span > a {
    text-decoration: none;
    color: rgba(195, 78, 78, 0.843);
}





.content-title {
    border-bottom: 4px solid #800080;
    font-family: 'Oswald', sans-serif;
}



ul > li > h4 > span {
    font-size: small;
}

ul>li>h4 {
    font-weight:600;
}

ul>li>h6 {
    font-size:14px;
    font-weight: 200;
}

ul>li>p{
    font-weight: 400;
}

.main {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}



.dropdown-menu {
   margin-left: 40vw;
}




@media screen and (max-width: 600px) {
    

    #skills,.resume-details {
        flex-direction: column;
    }
 

    .content-right, .content-left {
        width: 100vw !important
    }
        section {
            margin-top: 5.78vh;
        }
        #education {
            margin-top: -10vh;
        }
        .top-content {
            grid-template-columns: auto;
        }
        #myName {
            width: 100%;
            margin-left: 24%;
        }

         #myName > span {
            margin-left: -55%;
         }
        .contact-info{
            width: 100%;
            
        }
                .contact-info a>h5  {
                    font-size:19.5px;
                    margin: 1vh 0;
                } 
                
                #download-resume {
                    margin-left: 0;
                }
                                .dropdown-menu {
                                    margin-left: 0vw;
                                }
}

@media screen and (max-width: 810px) {
body {
        overflow-x: hidden;
    }
         #education {
             margin-top: -5vh;
         }
}